--extra-index-url https://download.pytorch.org/whl/cpu
torch
torchvision
timm
opencv-python
albumentations
grad-cam
fastapi
uvicorn[standard]
python-multipart
pydantic
scikit-learn
pandas
numpy
matplotlib
seaborn
pyyaml
pytest
