# Python
venv/
__pycache__/
*.pyc
.env

# Data & model weights (too large for git)
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep
checkpoints/*
!checkpoints/.gitkeep

# Notebooks
.ipynb_checkpoints/

# OS
.DS_Store

# IDE
.vscode/
.idea/
